:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(139, 235, 139);
}

.front-header {
  width: 100%;
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-color: rgb(91, 162, 255);
  font-size: 20pt;
  font-weight: bold;
}

.nav {
  padding: 20px 0px 20px 0px;
  background-color: rgb(77, 240, 62);
  text-align: center;
}

footer {
  margin: 20px 0px 20px 0px;
}

.fields {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0px 10px 0px;
}
